.value-bubble {
    padding: 0.1em;
    margin: 0.2em 0.5em;
    width: 100%;
    display: table-cell;
    border: 0.1em solid black;
    height: 1.5em;
    line-height: 1.5em;
    border-radius: 1em;
}

.bubble {
    text-align: center;
}

.bubble-background {
    border-radius: 1em;
}

.bubble-text {
    position: relative;
    top: -1.5em;
}
