.query-board {
    justify-self: start;
    width: 100%;
    margin: 1em;
    padding: 1em;

    box-shadow: 0 0 1em rgba(0, 0, 0, 0.25);
    border-radius: 1em;
    display: inline-block;
}

.facet {

}

.facet-text {
    text-align: center;
    font-weight: bold;
}

.search {
    margin: 0 1em;
    margin-bottom: 4em;
    padding: 1em;
}

.search-box {
    border: 0.2em solid rgba(211, 211, 211, 0.3);
    border-radius: 0.1em;
    padding: 0.5em;
    width: 100%;
}

.search-box:focus {
    width: 100%;
    outline: none;
    border: 0.2em solid rgba(128, 128, 128, 0.5);
}
  
ul.options {
    display: block;
    margin: 0;
    padding: 0;
    height: 0;
    position:relative;
    z-index: 100;
}
  
ul.options li {
    display: block;
    background: white;
    padding: 0.5em;
    border-radius: 0.2em;
    background: rgba(255, 255, 255, 0.8);
}

ul.options li:hover {
    font-weight: bold;
    color: #00b4cc;
    cursor: pointer;
}
  
ul.options li.option-active {
    background: rgb(245, 245, 245, 0.9);
    color: #00b4cc;
}

.no-options {
    color: black;
    height: 0;
}
  