.selector-panel {
    justify-self: start;
    width: 100%;
    margin: 1em;
    display: inline-block;
}

.selection-bar {
    display: inline-block;
    text-align: center;
    width: 100%;
    vertical-align: middle;
}

.selection {
    display: inline-block;
    margin: auto 2em;
    border: 0px;
    background-color: transparent;
}
